.lessonContainer {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: var(--title-large);
  color: var(--base-color);
  margin-bottom: .5rem;
}

.level {
  text-align: center;
  font-size: var(--subtitle-small);
  color: var(--base-color-medium-faded);
}

.mainContent {
  margin: 2rem 0;
  font-size: var(--text-large);
  line-height: var(--line-height-medium);
  font-family: var(--content-font);
}

.mainContent ul {
  margin: 2rem 0 2rem 6rem;
}

.mainContent li {
  font-size: var(--text-large);
  margin-top: .75rem;
  margin-bottom: .75rem;
  font-family: var(--content-font);
}

@media (max-width: 500px) {
  .lessonContainer {
    width: 92vw;
  }

  .title {
    font-size: var(--title-medium);
  }
  
  .level {
    font-size: var(--subtitle-xs);
  }

  .mainContent {
    margin: 1rem 0;
    font-size: var(--text-medium);
    line-height: var(--line-height-medium);
  }

  .mainContent ul {
    margin: 1.5rem 0 1.5rem 4rem;
  }
  
  .mainContent li {
    font-size: var(--text-medium);
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
}
