.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
  padding: 0 2rem;
}

.header {
  font-size: var(--title-large);
  color: var(--base-color);
  text-align: center;
}

.underline {
  border-bottom: 2px solid var(--base-color-light-faded);
}

.levelHeader {
  font-size: var(--title-small);
  color: var(--base-color);
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}



.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translateX(15%);
}

.link,
.listItem {
  text-decoration: none;
  color: var(--gray);
  font-size: var(--subtitle-medium);
}

.listItem {
  margin-top: 1rem;
  width: fit-content;
}

.link:hover,
.listItem:hover {
  color: var(--base-color-dark-faded);
}

.spacer {
  height: 2rem;
}

@media (max-width: 950px) {
  .list {
    transform: translateX(12%);
  }
}

@media (max-width: 725px) {
  .wrapper {
    padding: 0 1rem;
  }

  .header {
    font-size: var(--title-medium);
  }

  .levelHeader {
    font-size: var(--title-xs);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .list {
    transform: translateX(10%);
  } 
}

@media (max-width: 450px) {
.list {
  display: grid;
  grid-template-columns: 1fr;
  transform: translateX(0);
  margin-left: 3rem;
  margin-right: 1rem;
}
}
